// Typography.
.font-serif {
  font-family: $font-family-serif;
}

.font-display {
  font-family: $font-family-display;
}

.link-secondary {
  color: $secondary;
  &:hover {
    color: $dark;
    text-decoration: none;
  }
}

.text-description {
  font-family: $font-family-serif;
  font-weight: $font-weight-light;
  font-size: 0.9rem;
  color: $gray-800;
}

@each $i, $size in $font-sizes {
  .font-size-#{$i} {
    font-size: $size;
  }
}

// Sizes.
.vh-100-nav {
  height: calc(100vh - 56px);
}

.min-vh-100-nav {
  min-height: calc(100vh - 56px);
}

// Misc.
.placeholder-inherit::placeholder {
  font-size: inherit;
}

@include sm {
  .col-count-2 {
    column-count: 2;
  }
}
