// Variables.
@import './_variables';

// Bootstrap.
$enable-gradients: true;
@import '../../node_modules/bootstrap/scss/bootstrap';

// Slick carousel.
@import '../../node_modules/slick-carousel/slick/slick.css';
@import '../../node_modules/slick-carousel/slick/slick-theme.css';

// Custom CSS.
@import './_mixins';
@import './_base';
@import './components/_stars';
@import './components/_quote';
@import './components/_headings';
@import './components/_product-table';
@import './components/_product-card';
@import './_site-foot';
@import './pages/_home';
@import './pages/_show';
@import './_helpers';

.fullheight {
  height: 100vh;
}

.fullheight-with-nav {
  height: calc(100vh - 56px);
}

.container-narrow {
  max-width: 600px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.social-icon {
  fill: $gray-700;
}

.social-icon:hover {
  &.facebook {
    fill: #29487d;
  }
  &.twitter {
    fill: #1da1f2;
  }
}

.book-highlight {
  width: 220px;

  @include lg {
    width: auto;
  }
}

.scrollspy__link {
  color: $secondary;

  &:hover,
  li.active > & {
    color: $dark;
  }

  li.active > & {
    font-weight: 500;
  }
}

.button-link {
  color: inherit;
  &:hover {
    color: $warning;
    text-decoration: none;
  }
}
