// Variables.
@import './_variables';

// Bootstrap.
$enable-gradients: true;
@import '../../node_modules/bootstrap/scss/bootstrap';

// Slick carousel.
@import '../../node_modules/slick-carousel/slick/slick.css';
@import './components/slick';

// Draft JS CSS
@import '../../node_modules/react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

// Custom CSS.
@import './_mixins';
@import './_base';
@import './components/_stars';
@import './components/_quote';
@import './components/_heading';
@import './components/_product-table';
@import './components/_product-card';
@import './components/_pagination';
@import './components/_tag';
@import './components/_file-input';
@import './components/_avatar-wrapper';
@import './_site-foot';
@import './pages/_home';
@import './pages/_show';
@import './pages/_category';
@import './pages/_categories';
@import './pages/_browse';
@import './_helpers';

.username-edit-icon {
  position: absolute;
  right: -27px;
  top: 0;
  font-size: 20px;
}

.container-narrow {
  max-width: 600px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.social-icon {
  fill: $gray-700;
}

.social-icon:hover {
  &.facebook {
    fill: #29487d;
  }
  &.twitter {
    fill: #1da1f2;
  }
}

.book-highlight {
  width: 220px;

  @include lg {
    width: auto;
  }
}

.scrollspy__link {
  color: $secondary;

  &:hover,
  li.active > & {
    color: $dark;
  }

  li.active > & {
    font-weight: 500;
  }
}

.button-link {
  color: inherit;
  &:hover {
    color: $warning;
    text-decoration: none;
  }
}

.dropdown-item.active,
.dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background: $warning linear-gradient(180deg, lighten($warning, 7%), $warning)
    repeat-x;
}

.btn-reset {
  font-weight: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
}

.toggle-collapse-open {
  animation: toggle-collapse-open 0.5s ease-out forwards;
}

@keyframes toggle-collapse-open {
  0% {
    transform: none;
  }
  100% {
    transform: rotateZ(180deg);
  }
}

.toggle-collapse-close {
  animation: toggle-collapse-close 0.5s ease-out;
  transform: none;
}

@keyframes toggle-collapse-close {
  0% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.sub-nav-link.active {
  color: $dark;
  font-weight: 700;
}
