.product-card {
  &__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
  }

  &__title {
    display: block;
    max-width: 200px;
    margin: 0 auto 0;
    font-weight: bold;
    color: $dark;
    font-family: $font-family-display;
  }

  &__author {
    margin-bottom: 0;
  }

  &__rating,
  &__date {
    margin: 0.3rem 0;
    font-size: 0.8rem;
    color: $secondary;
  }

  &__price {
    color: $warning;
  }
}
